mixin input(config)
  - var _config = config || {}
  - var _id = config.id || ''
  - var _classes = config.classes || ''
  - var _type = config.type || '#'
  - var _name = config.name || '#'
  - var _src = config.src || '#'
  - var _alt = config.alt || 'Alternate text'
  - var _width = config.width || ''
  - var _height = config.height || ''

  input(
    id=_id,
    class=_classes,
    type=_type,
    name=_name,
    src=_src,
    alt=_alt,
    width=_width,
    height=_height
  )

